@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=The+Nautigal:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
span,
div,
p {
    font-family: "Outfit", sans-serif!important;
}

.logo {
    font-family: "The Nautigal", cursive!important;
}

.header-bg {
    background: rgb(198, 198, 202);
    background: linear-gradient(42deg, rgba(198, 198, 202, 1) 0%, rgba(222, 244, 222, 0.4963235294117647) 100%);
}

.container{
    width: 83%!important;
    margin: 0 auto;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}
@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}
.slider {
    background: #12372A;
    height: 80px;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, #12372A 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 80px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 80px;
    width: 250px;
}

#dish{
    font-family: "Pattaya", sans-serif!important;
}

.slick-prev{
    position: absolute;
    top: -60px;
    right: 55px;
}

.slick-next{
    position: absolute;
    top: -60px;
    right: 0;
}